:root {
    --topbar-height: 60px;
    --sidebar-width: 250px;
    --sidebar-closed-width: 50px;
}

/* * {
    padding: 0;
    margin: 0;
} */

body {
    /* colors */

    /* Layout */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*
--------------- WRAPPER ---------------
Container for sidebar and main content
*/

.page-wrapper {
    display: flex;
    flex-direction: row;
}

/* ---------- SIDEBAR ---------- */

.sidebar {
    width: var(--sidebar-width);
    background-color: #404040;
    color: white;
    position: sticky;
    height: 100vh;
    top: 0;
    left: 0;
}


/* ---------- MAIN CONTENT ---------- */

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* ---------- topbar ---------- */

.topbar {
    background-color: #202020;
    height: var(--topbar-height);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.topbar-container-wrapper {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
}

.topbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topbar-item {
    color: white;
    font-size: 1em;
    text-align: center;
    border: none;
    width: 80%;
    padding: 0.5rem 0.5rem;
    border-radius: 1em;
}

.topbar-container button {
    border: none;
    font-size: 1em;
    width: 60%;
    border-radius: 1em;
    cursor: pointer;
}

.sidebar-btn-container {
    flex: 1;
}

.search-container {
    flex: 3;
}

.create-btn-container {
    flex: 1;
}

/* ---------- MAIN ---------- */

.main-content  {
    flex: 1;
}

/* Wrapper around add tasks und task items */
.content-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    overflow-y: auto;
}

.tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: inherit;
}

.task {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.description {
    font-size: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.183);
    font-weight: 400;
    outline: none;
    padding: 0.5rem;
}

.btn-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
}

button {
    color: white;
    width: 8em;
    height: 2em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

.done-button {
    background-color: mediumseagreen;
}

.done {
    text-decoration: line-through;
}

.delete-button {
    background-color: firebrick;
}

.edit-button {
    background-color: steelblue;
}

.add-button {
    color: white;
    width: 8em;
    height: 2em;
    border: none;
    border-radius: 1em;
}
