* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

body {
    font-family: sans-serif;
    background-color: whitesmoke;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto;
    background-attachment: fixed;
}

/* ---------- TOPNAV ---------- */
#topnav {
    background-color: #202020;
    position: sticky;
    top: 0;
    display: flex;
    height: 4em;
    width: 100%;
}

.topnav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav-item {
    color: white;
    font-size: 1em;
    text-align: center;
    border: none;
    width: 80%;
    padding: 0.5rem 0.5rem;
    border-radius: 1em;
}

.topnav-container button {
    border: none;
    font-size: 1em;
    width: 60%;
    border-radius: 1em;
    cursor: pointer;
    background-color: steelblue;
}

#sidepanel-btn-container {
    flex: 1;
}

#search-container {
    flex: 3;
}

#create-btn-container {
    flex: 1;
}

/* ---------- SIDE NAV ---------- */



/* ---------- MAIN ---------- */

#wrapper  {
    margin: auto;
    min-width: auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    font-size: 1em;
}

#tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: inherit;
}

.task {
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#description {
    font-size: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.183);
    font-weight: 400;
    outline: none;
    padding: 0.5rem;
}

#btn-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
}

button {
    color: white;
    width: 8em;
    height: 2em;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

.done-button {
    background-color: mediumseagreen;
}

.done {
    text-decoration: line-through;
}

.delete-button {
    background-color: firebrick;
}

.edit-button {
    background-color: steelblue;
}

.add-button {
    color: white;
    width: 8em;
    height: 2em;
    border: none;
    border-radius: 1em;
}
